.pdf-page-1{width:1200px; height:1697px;
 background-image: url(page0.png);}
.pdf-page-2{width:1200px; height:1697px;
 background-image: url(page1.png);}
.pdf-page-3{width:1200px; height:1697px;
 background-image: url(page2.png);}
.pdf-page-4{width:1200px; height:1697px;
 background-image: url(page3.png);}
.pdf-page-5{width:1200px; height:1697px;
 background-image: url(page4.png);}
